// #sidebar {
//   background-image: url("https://images.unsplash.com/photo-1601310960741-599135fc3337?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=995&q=80") !important;
// }

html {
  font-size: 14px;
}

body {
  font-family: 'Merriweather', serif;
  }

h1, h2, h3, h4, h5, .site-title, .site-nav {
  font-family: 'Noto Serif', serif;;
}

#sidebar .nav-link {
  font-size: 1.2rem !important;
}

#archives .year::after {
  content: none;
}

// Resume custom
.resume-header {
  background-color: #2A4879;
  color: #ffffff;
  font-weight: bold;
  padding: 14px;
}

.resume-subheading {
  background-color: #C9D8EF;
  padding: 4px;
  text-align: center;
}

.resume-separator {
  margin-bottom: 0rem;
  margin-top: 0.5rem;
  border-top: 1px groove #A0A0A0;
}

ul.resume-dashed {
  list-style-type: none;
}
ul.resume-dashed > li::before {
  content: "-";
  position: absolute;
  left: 20px;
}

